<h1> Editing <%= @movie.title %> </h1>

<%= form_with(model: @movie, local: true) do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title %>

    <%= form.label :description %>
    <%= form.text_area :description, rows: 5 %>

    <%= form.label :rating %>
    <%= form.text_field :rating %>

    <%= form.label :total_gross %>
    <%= form.text_field :total_gross %>

    <%= form.label :released_on %>
    <%= form.date_select :released_on, {class: "date"} %>

    <%= form.submit %>
<% end %>

