
<% @movies.each do |movie| %>
    <section class="movie">
        <div class="summary">
            <h2><%= link_to movie.title, movie %></h2>
            <h3> <%= release_date(movie) %> (<%= movie.rating %>) </h3>
            <span>
                <%= total_gross(movie) %>
            </span>
            <p>
                <%= truncate(movie.description, length: 35, separator: ' ') %>
            </p>
        </div>
    </section>
<% end %>       
